@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-primary: #00007F; /* brand blue */
  --color-secondary: #2563eb; /* blue-600 */
}

* {
  scrollbar-width: thin;
}

::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}
::-webkit-scrollbar-thumb {
  background-color: #cbd5e1;
  border-radius: 9999px;
}

.dark {
  color-scheme: dark;
}
